.button {
    align-items: center;
    margin: 10px 12px 10px 17px;
    padding: 5px 15px;
    background-color: rgb(116, 132, 160, 0.85);
    border: 1px ;
    border-radius: 5px;
    font-weight: 500px;
    font-size: 15px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
  }
  .button:hover{
    background-color: rgb(89, 107, 134);
    border: 1px;
    transition: 0.5s;
  }