

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
   display: flex;
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
}



.wrongLogin, .wrongPass {
    opacity: 0;
    color: red;
}

.active {
    opacity: 1;
    color: red;
}