.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    cursor: pointer;
	background-color: aliceblue;
    height: 40px;
}

.wrapper a {
	text-decoration: none;
    color: black;
	
}

