.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30;
    font-weight: 600;
    cursor: pointer;
    color: rgb(116, 132, 160, 0.85);
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
  }
  .headerLogo:hover {
    color: #f4f5f7;
    transition: 0.5s;
  }
  .headerMenuList{
    list-style-type: none;
    padding: 10px 20px 20px 20px;
  }
  .headerMenuItem{
    margin: 5px;
    min-width: 180px;
    transition: 1s;
  }
  .headerMenuItem:hover{
    transition: 0.5s;
    color: #f4f5f7;
    background-color: rgb(89, 107, 134);
  }
  .headerMenuLogo:hover {
    color: #f4f5f7;
    transition: 1s;
  }